#inttop {
  color: crimson;
  font-size: 150%;
  border: 14px solid currentColor;
  border-radius: 3px;
  width: 150px;
  margin: 0 auto;
}

#inttop a{
  text-decoration: none;
  color: crimson;
}

#inttop a:hover{
  color:white;
}

#inttop:hover{
  color: white;
}

.btn{
  background: crimson;
  color: black;
  border: 1px solid currentColor;
  padding: 3px;
  margin: 0 5px;
  font-size: 130%;
}

.btn:hover{
  background: transparent;
  color: crimson;
}

.cpu, .player, .games, #top{
  color:white;
}

.wins{
  color: green;
}

.losses{
  color: red;
}

.ties{
  color: yellow;
}

#formal {
  font-family: cursive;
  text-transform: capitalize;
}

.nobul {
  list-style: none;
  padding-left: 0;
}

body {
  text-align: center;
  color: white;
  background-image: url("./test.png");
}
